/* some style */

div.server{
    width:200px;
}
div.server-container > button{
    margin-left:5px;
}

div.server-container > button.clear{
    margin-left: 50px; 
}

div.search{
    float:right;
}

div.last-event {
    padding: 20px;
    position: fixed;
    width: 80%;
    left: 10%;
    top:140px;
   
}

div.last-event > a.close-detail{
    position: relative;
    left: -16px;
    border: 1px solid;
    background-color: white;
    width: 19px;
    top: 20px;
}

div.last-event > pre {
    height: 400px;
    overflow: scroll;
}


div.last-event > div.summary{
    background-color:#f0f0f0;
    font-weight: bold;
    border: 1px solid;
}

div#taps-panel{
    border: 1px solid;
    position: fixed;
    width: 800px;
    left: -800px;
    height: 80%;
    top: 130px;
    background-color: white;
    z-index: 1000;
}

div#taps-panel > span{
    background-color: white;
    position: relative;
    left: 798px;
    top:-1px;
    border: 1px solid;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left:5px;
    padding-right:5px;
}

div#taps-panel.taps-panel-open{
    left: 0px;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text { font: 12px sans-serif; }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

div.taps{
    padding: 5px;
}
div.taps > button{
    margin-right:5px;
}
div.taps > button > span{
    margin-right:6px;
}


span.ip, span.role{
    border: 1px solid;
    margin: 2px;
    border-radius: 5px;
}
ul{
    padding-left: 0px;
}

ul.nav-tabs{
    position: fixed;
    background-color: white;
    z-index: 1000;
}

div.tab-content{
    position: relative;
    top: 50px;
}

div#events{
    margin-top: 50px;
    height: 100px;
}

div#header{
    background-color: white;
    position: fixed;
    top: 0px;
    height: 40px;
    width:100%;
    z-index:1000;
}

.tab-content li{
    height: 18px;
    overflow: hidden;
}

.hljs {
    overflow-x: visible;
} 