/* some style */

div.last-event > pre{
    padding: 20px;
    border: 1px solid;
    height: 180px;
    overflow: scroll;
}

span.ip, span.role{
    border: 1px solid;
    margin: 2px;
    border-radius: 5px;
}
ul{
    padding-left: 0px;
}
div#events{
    margin-top: 300px;
}

div#header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

li{
    height: 18px;
    overflow: hidden;
}

 